@()

@main("Hello World") {
  <h1>Presentation</h1>
    <div id = "image"> </div>
    <p>
        Hi every body ! My name is Mourtala ISSA. I am from Niger, a country in West Africa.
        I am finishing a master degree in computer science at upmc and currently looking for a programmer Job.
        I have worked with various programming languages, but I'll put emphasize in these few ones:
        OCaml, Scala, Java, C.

        I am working with M. BEIDARI Amadou, a brillant Scala programmer to improve my programming level in this
        particular language and I also have others projects to work on for the others languages.
    </p>
}
